<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='processing.js')}}"></script>
    <script src="{{url_for('static', filename='removeFlashMessage.js')}}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('upload_file') }}">Upload</a></li>
            <li><a href="{{ url_for('display_books') }}">Books</a></li>
        </ul>
        {% if session.get('logged_in') %}
            <span class="logged-in">You are logged in</span>
        {% else %}
            <span class="logged-out">You are not logged in</span>
        {% endif %}
    </nav>
    <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="flash-message">
                        <p>{{ message }}</p>
                        <button onclick="removeFlash()" id="remove-flash-message-button">close</button>
                    </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main id="content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>