{% extends "base.html" %}

{% block content %}
    <h1>Books</h1>
    <ul class="style-book-list">
        {% for book in books %}
            <li class="style-book">
                <h2>Title: {{ book.title_text }}</h2>
                <h3>ID: {{ book.id_value }}</h3>
                {% if book.countries_included|length > 1 %}
                    <p>Available in: {{book.countries_included|length}} Countries</p>
                {% elif book.countries_included|length == 1 %}
                    <p>Available in: {{book.countries_included|length}} Country</p>
                {% else %}
                    <p>Available in: Zero Countries</p>
                {% endif %}
                {% if book.countries_included|length == 248 %}
                    <span class="world-chip">All Countries</span>
                {% else %}
                    {% for country in book.countries_included %}
                        <span class="country-chip">{{ country.country_short_code }}</span>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}